!!!
block vars
  - var bodyclass = null;
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{locals.url}#{page.url}')
    meta(property='og:image', content='#{locals.url}/images/logo.png')

    block meta
      meta(property='og:description', content=locals.description)
      meta(name='description', content=locals.description)
      meta(name='keywords', content=locals.keywords)

    block title
      title= locals.name
      meta(property='og:title', content= locals.name)

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')

    link(rel='alternate', href='/feed.xml', type='application/rss+xml', title=locals.name)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Leckerli+One|Open+Sans:400,600,300')
    link(rel='stylesheet', href='/css/main.css')

  body(class=bodyclass)
    header
      .header
        .row
          .small-12.large-4.columns
            a(href='/')
              img.header__logo(src='/images/logo.png', alt='JS Unconf', width='150', height='150')
          .small-12.large-8.columns.text-center
            h3.header__headline
              | April 26th - 27th, 2014 | Hamburg

      nav.menu
        .row
          .small-12.columns.text-center
            //- a.menu__link(href='/news/') News
            a.menu__link(href='/location/') Location
            //- a.menu__link(href='/schedule/') Schedule
            //- a.menu__link(href='/tickets/') Tickets
            //- a.menu__link(href='/sponsors/') Sponsors
            a.menu__link(href='/sponsoring/') Sponsoring
            //- a.menu__link(href='/about/') About

    block content

    footer.footer
      block sponsors
        //-
          .footer__sponsors
            .row
              .small-12.columns
                h2 Sponsors

              - var sponsors = _.chain(contents.sponsoring._.directories).map(function(item) {
              -   return item.index;
              - }).compact().sortBy(function(item) {
              -   return item.name;
              - }).value();

              each sponsor in sponsors
                .small-12.large-6.columns.footer__sponsors__logo.text-center
                  a(href=sponsor.metadata.link, title=sponsor.metadata.name)
                    img(src= sponsor.url + sponsor.metadata.logo, alt=sponsor.metadata.name)

      .footer__message
        .row
          .small-8.columns made with &hearts; and node.js
          .small-4.columns.text-right
            a(href='http://twitter.com/jsunconf') @jsunconf
            | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
            a(href='/imprint/') Imprint